In [1]:
print ("Hello\npython")

Hello
python

In [2]:
print ("Hello \
       python")

Hello        python

In [3]:
print ("Hello\tpython")

Hello	python

In [2]:
print ("Hello\apython")

Hellopython

In [3]:
print ("""……..@*@*
….@*……..@* …………………………@*
..@*……………@* ………………@*……..@*
.@*……………….@*……….@*……………..@*
@*…………………..@*…@*………………….@*
@*………………………*……………………..@*
.@*…………………………………………….@*
..@*………………………………………..@*
….@*…………………………………..@*
……..@*…………………………..@*
………..@*……………………@*
…………….@*…………..@*
……………….@*……@*
………………….*..@*
……………………@
……………………*
……………………@
……………………*
""")
#prints the text as it is - used for text art

……..@*@*
….@*……..@* …………………………@*
..@*……………@* ………………@*……..@*
.@*……………….@*……….@*……………..@*
@*…………………..@*…@*………………….@*
@*………………………*……………………..@*
.@*…………………………………………….@*
..@*………………………………………..@*
….@*…………………………………..@*
……..@*…………………………..@*
………..@*……………………@*
…………….@*…………..@*
……………….@*……@*
………………….*..@*
……………………@
……………………*
……………………@
……………………*

In [4]:
"""Without print used for documentation"""

'Without print used for documentation'

In [5]:
a = """sql statement"""

In [6]:
print ("Python's world")

Python's world

In [5]:
print ('Python\'s world')

Python's world

In [9]:
name = "Debanjana"
marks = 90.867
age = 29
print ("The name of person is", name, ", marks is", marks, "and age is", age)

The name of person is Debanjana marks is 90.867 and age is 29

In [15]:
print ("The name of person is %8s, marks is %10.2f and age is %10d"%(name, marks, age))

The name of person is Debanjana, marks is      90.87 and age is         29

In [17]:
print (f"The name of person is {name}, marks is {marks} and age is {age}") #For python > 3.7

The name of person is Debanjana, marks is 90.867 and age is 29

In [18]:
x = 20
id(x) #RAM address

8791416087536

In [22]:
x = y = 10
x=20
id(x)

8791416087536

In [23]:
id(y)

8791416087216

In [25]:
y=20
id(y) #Interpreter checks memory and points y to a memory that already has a value of 20 (range of -5 to 256), if it is not present then it will allocate a fresh memory cell

8791416087536

In [8]:
10 ** 3

1000

In [9]:
10 * 3

30

In [26]:
10 / 3

3.3333333333333335

In [28]:
10 % 3

1

In [10]:
10 + 3

13

In [11]:
10 - 3

7

In [27]:
10 // 3 #Floor division, returns floor value

3

In [12]:
x = 1.5
y = 1.5
x == y

True

In [13]:
a = 10
b = 20
a < b

True

In [14]:
a > b

False

In [15]:
a <= b

True

In [16]:
a >= b

False

In [17]:
a != b

True

In [19]:
a = b
b

20

In [21]:
a += b
a

60

In [22]:
a -= b
a

40

In [23]:
a *= b
a

800

In [25]:
a /= b
a

2.0

In [26]:
a **= b
a

1048576.0

In [27]:
a = 10
bin(a)

'0b1010'

In [28]:
b = 20
bin(b)

'0b10100'

In [29]:
a | b

30

In [30]:
bin(30)

'0b11110'

In [31]:
a & b

0

In [33]:
a > 20 or 10 > 9

True

In [35]:
a > 20 and 10 > 9

False

In [37]:
a > 20 or 10 > M

NameError: name 'M' is not defined

In [38]:
a > 20 and 10 > M

False

In [39]:
a < 20 or 10 > M

True